body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--c-fill);
}

html{
    font-size: 1px;
    @media (max-width: 1200px){
        font-size: 0.85px;
    }
    
    @media (max-width: 992px){
        font-size: 0.70px;
    }

    @media (max-width: 768px){
       font-size: 0.60px;
    }
 
}