:root {
  --ff: "Roboto", sans-serif;
  
  --c-fill: #F5F3F4;
}

$c-fill: #F5F3F4;

$desktop: 1400px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$min-mobile: 320px;
